// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-info {
  width: 100%;
  text-align: center;
}

.project-div {
  display: inline-block;
  width: 32%;
}

.project-img {
  width: 90%;
}

.close {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 150;
}

.left, .right {
  z-index: 100;
}

.left:hover, .right:hover {
  cursor: pointer;
}

.carousel-item img {
  height: 70vh;
}

.carousel-item {
  display: none;
}

.active {
  display: block !important;
}